---
permalink: /insights/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/insights/feed.xml" rel="self"/>
  <link href="{{ site.url }}/insights/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/insights/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {% for post in collections.posts %}
  {% set absolutePostUrl %}{{ site.url }}{{ post.url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% if post.data.excerpt %}<summary>{{ post.data.excerpt }}</summary>{% endif %}
    <content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>
